<div class="bottom">
    <div class="sub">
        <div class="head-sub">
            <p>Sign Up For Out Newsletter</p>
        </div>
        <div class="sub-mail">
            <input class="put-mail" type="text" value="Email">
            <button class="load-mail" type="submit">subcribe now</button>
        </div>
    </div>
</div>

<footer>
    <div class="footer-info">
        <div class="footer-head">
            <h3>Information</h3>
        </div>
        <div class="footer-body">
            <ul>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About Us</a>
                </li>
                <li>
                    <a href="#">Best Deals</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Short Codes</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-info footer-policy">
        <div class="footer-head">
            <h3>Policy info</h3>
        </div>
        <div class="footer-body">
            <ul>
                <li>
                    <a href="#">FAQ</a>
                </li>
                <li>
                    <a href="#">Privacy Policy</a>
                </li>
                <li>
                    <a href="#">Terms Of Use</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-info footer-quest">
        <div class="footer-head">
            <h3>What in stores</h3>
        </div>
        <div class="footer-body">
            <ul>
                <li>
                    <a href="#">Pet Food</a>
                </li>
                <li>
                    <a href="#">Frozen Snacks</a>
                </li>
                <li>
                    <a href="#">Kitchen</a>
                </li>
                <li>
                    <a href="#">Branded Foods</a>
                </li>
                <li>
                    <a href="#">Households</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-info footer-last">
        <div class="footer-head">
            <h3>TWITTER POSTS</h3>
        </div>
        <div class="footer-body">
            <ul>
                <li class="twitter">
                    <i class="fab fa-twitter"></i>
                    <i style="margin-left: 0.75rem; color: green;">01 day ago</i>
                    <span>Non numquam 
                        <a href="#">http://sd.ds/13jklf#</a>
                        eius modi tempora incidunt ut labore et 
                        <a href="#">http://sd.ds/1389kjklf#quo</a>
                        nulla.
                    </span>
                </li>
                <li class="twitter">
                    <i class="fab fa-twitter"></i>
                    <i style="margin-left: 0.75rem; color: green;">02 day ago</i>
                    <span>Con numquam 
                        <a href="#">http://fd.uf/56hfg#</a>
                        eius modi tempora incidunt ut labore et
                        <a href="#">http://fd.uf/56hfg#</a>
                        quo nulla.
                    </span>
                </li>
            </ul>
        </div>
    </div>


    <div class="footer-bottom">
        <p>100% Secure Payments</p>
        <img src="https://demo.w3layouts.com/demos_new/template_demo/20-07-2017/grocery_store-demo_Free/725976873/web/images/card.png" alt="">
    </div>
    
    <div class="footer-connect">
        <p>Connect With Us</p>
        <ul>
            <li class="facebook">
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li class="twitter-icon">
                <a href="#" >
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="google-plus">
                <a href="#" >
                    <i class="fab fa-google-plus-g"></i>
                </a>
            </li>
            <li class="insta">
                <a href="#" >
                    <i class="fab fa-instagram"></i>
                </a>
            </li>   
            <li class="dribbble">
                <a href="#" >
                    <i class="fab fa-dribbble"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>