<div class="shop-product">
    <div class="offer">
        <div class="inside">
            <div class="tag-decided">
            </div>
            <figure>
                <div class="product1">
                    
                </div>
                <div class="product-name">
                    <p class="product-detail-name"></p>
                    <div>
                        <p class="product-price"></p>
                        <p class="product-undiscount"></p>
                    </div>
                    <button class="btn-sub shop-btn" type="button" onclick=addToCart(event)>ADD TO CART</button>
                </div>  
            </figure>
        </div>
    </div>
</div>